h1 {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    height: 5vh;
    background-image: url("https://media.giphy.com/media/jaOXKCxtBPLieRLI0c/giphy.gif");
    background-position: center;
    -webkit-background-clip:text;
}

.square {
    margin: auto;
    background-color: white;
    padding: 2vmax;
    border-style: solid;
    border-color: black;
    border-width: 0.25vmax;
    width: 50%;
    height: 25vmax;
}

.elements {
    margin: auto;
    display: flex;
    padding: 0.25vmax;
}

.element {
    display: flex;
    margin: 2vmax;

    background-color: dodgerblue;
    width: 1.3vmax;
    padding: 0.25vmax;

    font-family: cursive;
}

ins {
    text-decoration: underline;
}
.element input {
    width: 2.1vmax;
}
.credit{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    height: 20vh;
    background-image: url("https://media.giphy.com/media/jaOXKCxtBPLieRLI0c/giphy.gif");
    background-position: center;
    -webkit-background-clip:text;
}
